body {
	color: white;
	
	font-family: 'Sacramento', cursive;

	margin-top: 7%;
	margin-left: 20%;
	margin-right: 20%;
}
	background-color: #333;
	font-size: 150%;
	font-family: 'Satisfy', cursive;
	
 }
